@mixin fontface($ff-name, $name) {
  @font-face {
    font-family: '#{$ff-name}';
    font-style: normal;
    font-weight: normal;
    src:  url('../fonts/#{$name}.woff2') format('woff2'),
          url('../fonts/#{$name}.woff') format('woff');
  }
}

//@include fontface(Roboto-Regular, Roboto-Regular);

