* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: $font__size;
  line-height: $font__line-height;
  color: $color__text;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 300px;
  overflow-x: auto;
  background-color: $color__bg;
}

.container {
  width: 100%;
  max-width: $container__width_max;
  padding: 0 $container__padding;
  margin: 0 auto;

  @include media-breakpoint-up(tb) {
    padding: 0 $container__padding_tb
  }

  @include media-breakpoint-up(lt) {
    padding: 0 $container__padding_lt
  }

  &_wide {
    max-width: none;
  }
}

//.blackout {
//  display: none;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  background: rgba(0,0,0,.7);
//  z-index: 105;
//}

a {
  color: $color__primary;
  transition: color .2s;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $color__text;
  }

  &:focus {
    outline: none;
  }
  
  &[href^='tel:'] {
    white-space: nowrap;
  }
}

p {
  margin-top: 0;
  margin-bottom: .5em;
}

b, strong {

}

i, em {

}

img {
  max-width: 100%;
  max-height: 100%;
}

.mt-0 { margin-top: 0!important; }
.mb-0 { margin-bottom: 0!important; }

.pt-0 { padding-top: 0!important; }
.pb-0 { padding-bottom: 0!important; }

.uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.mark {
  color: $color__primary;
}