$color__primary:          green;
$color__text:             #000;
$color__headings:         #000;
$color__link:             $color__primary;
$color__link_hover:       $color__text;
$color__border:           #ccc;

$bg__body:                #fff;

$font__size_base:         16px;
$font__line-height_base:  1.4;
$font__family-reserve:    Helvetica, Arial, sans-serif;
//$roboto-r:   'Roboto-Regular', $font-family-base;
$font__family-base:       $font__family-reserve;

//Text
$font-size-base:    16px;
$line-height-base:  1.5;
$text-color:        #000;
$text-light:        #808080;
$print-color:       #000;

$heading-color:     #000;

$padding-content:  24px;

$table-color:      $heading-color;
$table-head-bg2:   #638AE6;

//Form
$field-height:             42px;
$field-height-sm:          38px;
$field-height-small:       30px;
$placeholder-color:        #a6a6a6;
$bord-color-form:          #D1D1D1;
//$bord-color-form-hover:     $brand-color-7;
$border-radius-form:        0;

$border-radius-base:        4px;

$container-max:             2560px;
$container-head-padding-md: 32px;
$content-padding-right:     170px;

$rates-height:               82px;

