


//Color
$brand-color-1:     #024da1;
$brand-color-2:     #3D5EAB;

$bord-color:        #ccc;
$bord-color-light:  #4C6BB2;
$body-bg:           #fff;
$block-bg:          #ccc;

//Transition
//$transitionBlock:   .5s;

//Fonts
$font-family-reserve:    Helvetica, Arial, sans-serif;
//$roboto-r:   'Roboto-Regular', $font-family-base;
//$roboto-m:   'Roboto-Medium', $font-family-base;
//$roboto-l:   'Roboto-Light', $font-family-base;
$font-family-base:        $font-family-reserve;

//Link
$link-color:        $brand-color-1;
$link-color-hover:  $brand-color-2;

//Text
$font-size-base:    16px;
$line-height-base:  1.5;
$text-color:        #000;
$text-light:        #808080;
$print-color:       #000;

$heading-color:     #000;

$padding-content:  24px;

$table-color:      $heading-color;
$table-head-bg2:   #638AE6;

//Form
$field-height:             42px;
$field-height-sm:          38px;
$field-height-small:       30px;
$placeholder-color:        #a6a6a6;
$bord-color-form:          #D1D1D1;
//$bord-color-form-hover:     $brand-color-7;
$border-radius-form:        0;

$border-radius-base:        4px;

$container-max:             2560px;
$container-head-padding-md: 32px;
$content-padding-right:     170px;

$rates-height:               82px;

