html {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  min-width: 300px;
  overflow-x: auto;
  margin: 0;
  padding: 0;
  @include font-face-light;
  font-style: normal;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;

  &.slideoutOpen {
    overflow: hidden;
  }

  &.inner {

  }
}

.page {
  max-width: $container-max;
  margin: 0 auto;
  overflow: hidden;
  background-color: $body-bg;
}

//.blackout {
//  display: none;
//  position: fixed;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: 100%;
//  width: 100%;
//  background: rgba(0,0,0,.7);
//  z-index: 105;
//}
//
//.formstyler {
//  visibility: hidden;
//
//  &.visible {
//    visibility: visible;
//  }
//}
//
//a {
//  color: $link-color;
//  transition: color .2s;
//  text-decoration: none;
//
//  &:hover,
//  &:focus {
//    color: $link-color-hover;
//    //text-decoration: $link-hover-decoration;
//
//    .lnk-pseudo {
//      //border-bottom-color: $link-color-hover;
//    }
//  }
//
//  &:focus {
//    //@include tab-focus;
//  }
//}
//
//a[href^='tel:'] {
//  white-space: nowrap;
//}
//
//.lnk-pseudo {
//  display: inline;
//  border-bottom: 1px dotted;
//}
//
//p {
//  margin-top: 0;
//  margin-bottom: .5em;
//}
//
//b, strong {
//  font-weight: normal;
//  color: $heading-color;
//}
//
//i {
//  @include font-face-italic;
//}
//
//img {
//  max-width: 100%;
//}
//
//h1, .h1,
//h2, .h2,
//h3, .h3,
//h4, .h4,
//h5, .h5,
//h6, .h6 {
//  color: $heading-color;
//  @include font-face-regular;
//  font-weight: normal;
//  text-transform: none;
//}
//
//
//h1 {
//  margin-top: 0;
//  margin-bottom: .75em;
//  font-size: $font-size-h1;
//  line-height: 1.27;
//
//  @media (max-width: $screen-sm-max) {
//    font-size: $font-size-h1-sm;
//  }
//  @media (max-width: $screen-xs-max) {
//    font-size: $font-size-h1-xs;
//    margin-bottom: .7em;
//  }
//}
//
//h2 {
//  margin-bottom: .55em;
//  margin-top: 0.9em;
//  font-size: $font-size-h2;
//  line-height: 1.6;
//
//  @media (max-width: $screen-xs-max) {
//    margin-top: 1em;
//    margin-bottom: .8em;
//    line-height: 1.2;
//    font-size: $font-size-h2-xs;
//  }
//}
//
//h3 {
//  margin-bottom: 0.55em;
//  margin-top: 2.2em;
//  font-size: $font-size-h3;
//
//  @media (max-width: $screen-xs-max) {
//    margin-bottom: 1.05em;
//  }
//}
//
//h4, .h4 {
//  margin-top: 2.5em;
//  margin-bottom: 1.2em;
//  font-size: 14px;
//  text-transform: uppercase;
//}
//
//h5, .h5 {
//  margin-top: 2.4em;
//  margin-bottom: 1.4em;
//  font-size: 16px;
//}
//
//.h1 { @extend h1;}
//.h2 { @extend h2;}
//.h3 { @extend h3;}
//
//blockquote {
//  font-size: 14px;
//  line-height: (20/14);
//  border-left: 2px solid $brand-color-1;
//  margin: 0 0 30px 0;
//  padding-left: 22px;
//}
//
//.mt-0 { margin-top: 0!important; }
//.mt-1 { margin-top: 10px!important; }
//.mt-2 { margin-top: 20px!important; }
//.mt-3 { margin-top: 30px!important; }
//.mt-4 { margin-top: 40px!important; }
//
//.mb-0 { margin-bottom: 0!important; }
//.mb-1 { margin-bottom: 10px!important; }
//.mb-2 { margin-bottom: 20px!important; }
//.mb-3 { margin-bottom: 30px!important; }
//.mb-4 { margin-bottom: 40px!important; }
//
//.text-uppercase {
//  text-transform: uppercase;
//}
//
//.nowrap {
//  white-space: nowrap;
//}
//
//hr {
//  border: none;
//}
//
//.bord-bot,
//hr {
//  position: relative;
//  padding-bottom: 50px;
//  margin-bottom: 36px;
//
//  @media (max-width: $screen-md-max) {
//    padding-bottom: 20px;
//    margin-bottom: 30px;
//  }
//
//  &:after {
//    content: '';
//    display: block;
//    width: ($container-lg - $grid-gutter-width);
//    height: 1px;
//    position: absolute;
//    bottom: 0;
//    left: 50%;
//    transform: translateX(-50%);
//    //background: $bord-color;
//
//    @media (max-width: $screen-md-max) {
//      width: ($container-md - $grid-gutter-width);
//    }
//    @media (max-width: $screen-sm-max) {
//      width: 100%;
//    }
//  }
//}
//
//.mark {
//  color: $brand-color-1;
//}
//
//.curgrab {
//  .caroufredsel_wrapper,
//  &.tab-content {
//    cursor: url('../images/cursor/openhand.cur'), move !important;
//    &:active {
//      cursor: url('../images/cursor/closedhand.cur'), move !important;
//    }
//  }
//}